.dash-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;

}

.dash-content{
    display: grid;
    margin-top: 5vh;
    margin-left: 5vw;
    height: auto;
}

.menu-image-dash{
    width:40vw;
    height:80vh;
}

.scene-dash{
    /* width: 60vw;
    border-style:solid;
    border-color:rgb(0, 0, 0);
    height:60vw; */
}

.paper-container{
    position: sticky;
}

.carousel-dashRestaurant{
  display: flex;
  flex-direction: column;
 /* height: 60vh;
 width: 55vw; */
 height: 500px; 
 width: 30vw;
 align-items: center;
 align-self: center;
 justify-content: center;
 /* align-self: center; */

 z-index: 0;
 /* margin-bottom: 0; */
 margin-top:4rem;
}

.carousel-container-dashRestaurant{
  display: flex;
  flex-direction:row;
  /* align-items: center;
  justify-content: center; */
  margin-bottom: 30px;
  height: 600px;
  padding-bottom: 0;
}

.description-container-dashRestaurant{
  margin-left:0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top:0;
}

/* ---------------------------------------------- Update Details Page --------------------------------------------------------*/

.update-details-title{
    height: 20px;
    margin-left: 2.5vw;
    margin-bottom: 3vh;
}

.update-details-submit{
  color:rgb(255, 255, 255)!important;
  width: 20vw!important;;
  background-color: rgb(184, 133, 76)!important;
  border-color: transparent!important;
}

.upload-btn{
  color:rgb(184, 133, 76)!important;
  border-color: rgb(184, 133, 76)!important;

}

.upload-btn:hover{
  background-color:rgba(239, 239, 239, 0.5) !important;
}

.details-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dollar-alignment-dashRestaurant{
  display:flex;
  flex-direction:row;
  }

  .dollars-dashRestaurant {
    margin-left: 10vw;
}

.carousel-and-details-dashRestaurant  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  /* margin-top: 0; */
  margin-top: -20px;
}


.right-details-dashRestaurant {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 6rem;
}

.inline-icons-dashRestaurant{

  display:flex;
  flex-direction: row;

  margin-left: 5vh;
  margin-top:2vh;

}

.description-dashRestaurant{
  margin-top:5vh;
}

.contact-dashRestaurant{
  margin-top:5vh;
}


.menu-display-dashRestaurant{
  margin-top:5vh;
}
.scene-label-dashRestaurant{
margin-top:5vh;
}


/* ---------------------------------------------------------------------------------------------------------------------------- */


@media screen and (max-width: 1200px) {
  .carousel-dashRestaurant{

   width: 40vw;

  }

  .dollar-alignment-dashRestaurant{
  flex-direction: column;
  }

  .dollars-dashRestaurant {
    margin-left: 0vw;
}
.carousel-and-details-dashRestaurant  {
  flex-direction: column;
}

.right-details-dashRestaurant {
margin-top:1rem;
margin-left:0;
}

}

@media screen and (max-width: 976px) {

  .right-details-dashRestaurant{
    margin-left: 10vw;
  }
    .dash-container{
        grid-template-columns: auto;

    }

    .DashRestaurant-paper-1{
        position: static !important;
        align-self: center;
        margin-right: 10px !important;
        /* margin-left: 5vw !important; */
        width: 90vw !important;
    }
    .paper-container{
        align-items: center;
        width:100%;
    }

   .restaurant-container{
       display: grid;

       justify-content: center;

    }
    .dash-content{

        margin-left: 0vw;

    }

    /* .... */

    .inline-icons-dashRestaurant{
      margin-left: 5vw;
      margin-top:2vh;
      flex-direction: column;
  
    }
    .carousel-and-details-dashRestaurant{
        flex-direction: column;
        width:90%;
    }
  
    .carousel-container-dashRestaurant{
        width:85vw;
        height:50vh;
    }
  
    .carousel-dashRestaurant{
        width:85vw;
        height:50vh;
        margin-left:10vw;
  
    }
  
    .name-details{
        width: 50vw;
    }
  
    /* .dollar-alignment{
        display: flex;
        flex-direction: column;
    } */
    /* .dollars-dashRestaurant{
        margin-left:-2rem;
        margin-top:0rem;
    } */
  
    /* .right-details-dashRestaurant{
        margin-top:2rem;
        margin-left:1rem;
        flex-direction: row;
    } */
      
  
    .description-dashRestaurant{
        margin-left:2rem;
        margin-top:5vh;
    }
  
    .contact-dashRestaurant{
        margin-left:2rem;
        margin-top:5vh;
    }
  
  
    .menu-display-dashRestaurant{
        margin-left:2rem;
        margin-top:5vh;
    }
    .scene-label-dashRestaurant{
      margin-left:2rem;
      margin-top:5vh;
    }
  
}

@media screen and (max-width: 900px) {
  /* .restaurant-scene-dashRestaurant{
      margin-left: 10vw;
  } */

  .scene-label{
      margin-left: 12vw;
  }
}



@media screen and (max-width: 500px) {

/* 
  .card-container{
      width:90vw!important;
      margin-left:1rem!important;
      margin-top: 2vh!important;
  } */

}

@media screen and (max-width: 767px) {
  .paper-container{
    /* margin-left:0!important; */
    width:80%!important;
    height:70%!important;
    margin-top:7vh;
  }

  .inline-icons-dashRestaurant{
    margin-left: 11vw;
    margin-top:5vh;

  }
  .carousel-and-details-dashRestaurant{
      flex-direction: column;
      width:90%;
  }

  .carousel-container-dashRestaurant{
      width:85vw;
      height:50vh;
  }

  .carousel-dashRestaurant{
      width:85vw;
      height:50vh;
      margin-left:10vw;

  }

  .name-details{
      width: 50vw;
  }

  /* .dollar-alignment{
      display: flex;
      flex-direction: column;
  } */
  /* .dollars-dashRestaurant{
      margin-left:-2rem;
      margin-top:0rem;
  } */

  /* .right-details-dashRestaurant{
      margin-top:2rem;
      margin-left:1rem;
      flex-direction: row;
  } */
    
  .restaurant-scene-dashRestaurant{
      display: none;
  }

  .description-dashRestaurant{
      margin-left:2rem;
  }

  .contact-dashRestaurant{
      margin-left:2rem;
  }


  .menu-display-dashRestaurant{
      margin-left:2rem;
  }


}


/* --------------------UpdateScene------------------ */

.scene-container{
    /* height:500px; 
    width: 1000px;  */
    /* height:60vh;
    width: 60vw; */
    height:500px;
    width: 750px;
    border: 0.5px solid; 
    border-color:rgb(180, 177, 177) ;
    border-radius: 10px;
    position:relative;
    margin-left:0vw !important;
    margin-top: 5vh !important;
    margin-bottom: 5vh !important;
    box-shadow: 5px 5px 5px rgb(215, 214, 211);
}


.input-style{
  width: 12vh;

  border:0.5px solid #ea9c3d;
  box-shadow: 1px 3px 8px 0.5px #ffeacf;
  border-radius:10%;
  text-align: center;
  font-size: 17px;
}

.input-style-vertical{
  /* height: 20%; */
  width:9vh;

  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  border:0.5px solid #ea9c3d;
  box-shadow: 1px 3px 8px 0.5px #ffeacf;
  border-radius:10%;
  text-align: center;
  font-size: 17px;


}
.scene-top{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width:100%;
  justify-content: space-between;
}

.scene-bottom{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width:100%;
  justify-content: space-between;

}
input:focus { 
  outline: none !important;
  border:0.5px solid #ea9c3d;
}
.scene-left-right{
  display:flex;
  flex-direction: row;
  height:91%;
  width:100%;
  justify-content: center;
  align-items: center;
}

.scene-left{
  display: flex;
  flex-direction: column;
  /* margin-left:-100px; */
  height:80%;
  width:20px;
  justify-content: space-between;

}

.scene-right{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left:auto;
  margin-right:0;
  width:20px;
  height:80%;
  justify-content: space-between;
}


.table-btn{
    /* position:relative;
    border-radius: 60%;
    height:60px;
    width: 60px;
    background:linear-gradient(135deg,#f7b55f,#cc7504); */

    /* border-color: rgb(214, 81, 4);
    border-width: 4px;
    background-color: rgb(204, 117, 4); */
    border: none;

    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
height:60px;
width: 60px;
border-color: transparent;
/* border-width: 4px; */
/* background-color: rgb(204, 117, 4); */
/* background-color: transparent; */
background:linear-gradient(135deg,#f7b55f,#cc7504);
border-image: none;

}

.table-label{
    display: flex;
    align-self: center;
    position:absolute;
    font-size: small;

}

.table-btn:focus{
    /* background-color: rgb(242, 197, 137); */
    background:linear-gradient(135deg,rgb(249, 211, 163),rgb(252, 193, 116));
}
/* a { color: #00c; }
a:visited { #ccc; }
a:focus { #cc0; } */
.test-div{
    left:300px;
    top:100px;
    border-radius: 60%;
    height:60px;
    width: 60px;
    border-color: rgb(3, 85, 216);
    border-width: 4px;
    background-color: rgb(4, 87, 204);
    border-image: none;
    border-style:solid;
}

.form-styles{
    position: relative;
}

.lat-long{
    display: inline-flex;
    width: 22vw;
}

.form-container{
    display: inline-flex;
    width: 63vw;
}

.text-field{
  width:20vw!important;
}

.box-wrap{
  width:90vw;
}

.first-col{
    margin-right: 5vw;
    width:20vw;
}

.second-col{
    width:20vw;
}

.field{
    /* width: 30vw; */
    width:20vw;
    margin-left: 15px;
    margin-top: 1.8vh;
    margin-bottom: 2vh;


}

.field-imp{
  width:20vw!important;
  margin-left: 15px!important;
  margin-top: 1.8vh!important;
  margin-bottom: 2vh!important;
}

.scene-update-btn{
    background-color: transparent;
    width:20vw;
    height: 6vh;

    border: 0.5px solid; 
    border-color:rgb(180, 177, 177) ;
    border-radius: 10px;

    box-shadow: 5px 5px 5px rgb(215, 214, 211);
}

.pdf-page-control{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:512px;

}

.pdf-pages{
  width: 40vw!important;


}

.react-pdf__Page__canvas {
  margin: 0 auto;
  /* width: 80% !important; */
  height: 80vh !important;
}


.places-field{
  width:100%;
  margin-top:1rem;
  margin-bottom: 1rem;
}

.seats-specifications{
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
  margin-left: 12px;
}

#point2-1 {
    border-radius: 60%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(66, 138, 255);
    margin-top: 58px;
  }

  #point2-2 {
    border-radius: 60%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(66, 138, 255);
    margin-top: -58px;
  }


#point4-1 {
    border-radius: 60%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(15, 136, 15);
    margin-left: 58px;
  }

  #point4-2 {
    border-radius: 60%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(15, 136, 15);
    margin-left: -58px;
  }

  #point4-3 {
    border-radius: 60%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(15, 136, 15);
    margin-top: 58px;
  }

  #point4-4 {
    border-radius: 60%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(15, 136, 15);
    margin-top: -58px;
  }



    
#point6-1 {
    border-radius: 60%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(226, 14, 103);
    margin-left: 58px;
  }

  #point6-2 {
    border-radius: 60%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(226, 14, 103);
    margin-left: -58px;
  }

  #point6-3 {
    border-radius: 60%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(226, 14, 103);
    margin-top: 50px;
    margin-left: 28px;
  }

  #point6-4 {
    border-radius: 60%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(226, 14, 103);
    margin-top: -50px;
    margin-left: -28px;
  }

  #point6-5 {
    border-radius: 90%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(226, 14, 103);
    margin-top: -50px;
    margin-left: 28px;
  }

  #point6-6 {
    border-radius: 60%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(226, 14, 103);
    margin-top: 50px;
    margin-left: -28px;
  }




  #point8-1 {
    border-radius: 60%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(179, 6, 222);
    margin-top: 15px;
    margin-left: -58px;
  }

  #point8-2 {
    border-radius: 60%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(179, 6, 222);
    margin-top: 15px;
    margin-left: 58px;
  }

  #point8-3 {
    border-radius: 60%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(179, 6, 222);
    margin-top: -15px;
    margin-left: 58px;
  }

  #point8-4 {
    border-radius: 60%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(179, 6, 222);
    margin-top: -15px;
    margin-left: -58px;
  }

  #point8-5 {
    border-radius: 90%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(179, 6, 222);
    margin-top: -58px;
    margin-left: 15px;
  }

  #point8-6 {
    border-radius: 60%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(179, 6, 222);
    margin-top: -58px;
    margin-left: -15px;
  }

  #point8-7 {
    border-radius: 90%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(179, 6, 222);
    margin-top: 58px;
    margin-left: 15px;
  }

  #point8-8 {
    border-radius: 60%;
    position: absolute;
    /* top: 50%; left: 50%; */
    width: 10px; height: 10px;
    background: rgb(179, 6, 222);
    margin-top: 58px;
    margin-left: -15px;
  }

  .update-details-submit:hover{
    background-color: rgba(239, 239, 239, 0.5) !important;
}

@media screen and (max-width: 976px) {
  .form-container{
  /* display: inline-flex;
  width: 63vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.first-col{
  width: 40vw;
}

.scond-col{
  width: 40vw;
}

.text-field, .field, .field-imp, .lat-long{
  width:35vw!important;

}

}