.dash-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;

}

.dash-content{
    display: grid;
    margin-top: 5vh;
    margin-left: 5vw;
    height: 200vh;
}

.menu-image-dash{
    width:50vw;
}

.scena{
    width: 60vw;
}

.paper-container{
    position: sticky;
}


/* ---------------------------------------------- Update Details Page --------------------------------------------------------*/

.update-details-title{
    height: 20px;
    margin-left: 2.5vw;
    margin-bottom: 3vh;
}

.update-details-submit{

}



/* ---------------------------------------------------------------------------------------------------------------------------- */
 

@media screen and (max-width: 976px) {
    .dash-container{
        grid-template-columns: auto;

    }

    .DashRestaurant-paper-1{
        position: static !important;
        align-self: center;
        margin-right: 10px !important;
        /* margin-left: 5vw !important; */
        width: 90vw !important;
    }
    .paper-container{
        align-items: center;
        width:100%;
    }

   .restaurant-container{
       display: grid;

       justify-content: center;

    }
    .dash-content{

        margin-left: 0vw;

    }
}


.scene-container{
    height:500px; 
    width: 500px; 
    border-style: dotted; 
}

.table-btn{
    border-radius: 60%;
    height:60px;
    width: 60px;
    border-color: rgb(214, 81, 4);
    border-width: 4px;
    background-color: rgb(204, 117, 4);
}

.table-btn:focus{
    background-color: rgb(242, 197, 137);
}
/* a { color: #00c; }
a:visited { #ccc; }
a:focus { #cc0; } */