.dash-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;

}

.dash-content{
    display: grid;
    margin-top: 5vh;
    margin-left: 5vw;
    height: 200vh;
}

.menu-image-dash{
    width:40vw;
    height:80vh;
}

.scene-dash{
    /* width: 60vw;
    border-style:solid;
    border-color:rgb(0, 0, 0);
    height:60vw; */
}

.paper-container{
    position: sticky;
}


/* ---------------------------------------------- Update Details Page --------------------------------------------------------*/

.update-details-title{
    height: 20px;
    margin-left: 2.5vw;
    margin-bottom: 3vh;
}

.update-details-submit{

}



/* ---------------------------------------------------------------------------------------------------------------------------- */
 

@media screen and (max-width: 976px) {
    .dash-container{
        grid-template-columns: auto;

    }

    .DashRestaurant-paper-1{
        position: static !important;
        align-self: center;
        margin-right: 10px !important;
        /* margin-left: 5vw !important; */
        width: 90vw !important;
    }
    .paper-container{
        align-items: center;
        width:100%;
    }

   .restaurant-container{
       display: grid;

       justify-content: center;

    }
    .dash-content{

        margin-left: 0vw;

    }
}


.scene-container{
    height:500px; 
    width: 500px; 
    border-style: dotted; 
    position:relative;
}

.table-btn{
    border-radius: 60%;
    height:60px;
    width: 60px;
    border-color: rgb(214, 81, 4);
    border-width: 4px;
    background-color: rgb(204, 117, 4);
    border-image: none;
    border-style:solid;
}

.table-btn:focus{
    background-color: rgb(242, 197, 137);
}
/* a { color: #00c; }
a:visited { #ccc; }
a:focus { #cc0; } */
.test-div{
    left:300px;
    top:100px;
    border-radius: 60%;
    height:60px;
    width: 60px;
    border-color: rgb(3, 85, 216);
    border-width: 4px;
    background-color: rgb(4, 87, 204);
    border-image: none;
    border-style:solid;
}

.form-styles{
    position: relative;
}

.lat-long{
    display: inline-flex;
    width: 32vw;
}

.form-container{
    display: inline-flex;
    width: 63vw;
}

.first-col{
    margin-right: 5vw;
    width:30vw;
}

.second-col{
    width:30vw;
}

.field{
    /* width: 30vw; */
    width:30.5vw;
    margin-left: 13px;
    margin-top: 2vh;
    margin-bottom: 2vh;


}