.main-align{
    /* display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; */
}

.menu-image{
     margin-right:'15vw';
    /* max-height:100%; */
    width:100%;
    height:100%;
    object-fit: cover;
    padding: 10px;
    /* border: 2px solid #000000; */
    border-radius: 15px;
}

.menu-container{
    display: flex;
    height:25vh;
    width: 30vh;
    margin-right: 5vw;
    margin-left: -20vw;
    align-self: flex-start;
}

.name-stars{
    display: inline-flex;
    width:100%;
}

.stars{
    display: inline-flex;
    margin-left: auto;
}

.rating{
    margin-top: 10px;
    margin-right: 1rem;
}

.small-star{
    width: 1.5rem;
    margin-right: 10px;
    align-self:flex-start;
    margin-top: 0.5rem;
}

.vertical-bar{
    border-left: 2px solid rgb(175, 177, 175);
    height: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.descrieri{
    display: inline-flex;
    margin-top: 5vh;
    align-items:center;
    color: rgb(175, 177, 175);

}

.small-icon{
    width: 1.5rem;
    margin-right: 10px;

}

.search-container{
    display: flex;
    width: 80vw;
    /* height: 25vh; */
    margin-left:8vw;
    margin-top:10vh ;
    margin-bottom: 7vh;
}

.search-img:hover{
    background-color: rgb(175, 177, 175);
}

.search-img{
    width:2rem;
    align-self: center;
    margin-left: 1rem;
}

.search-btn {
    border-radius: 4px;
    background-color: rgb(184, 133, 76);
    border: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 2rem;

    box-shadow: 0 5px 20px -10px rgba(0, 0, 0,.7);
  }
  
  .search-btn{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .search-btn:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  .search-btn:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  .search-btn:hover:after {
    opacity: 1;
    right: 10px;
  }

  #search-field{
    width:60vw;
  }

  .filters-container{
      display: inline-flex;
      width: 83vw;
      margin-left:5vw;
      margin-bottom: 20vh;
  }

  .filters{
      display: flex;
      width: 20vw;
      margin-left: 3vw !important;
  }


  /* -----------------------------Restaurant Details---------------------------- */
  .top-part{
      display: inline-flex;
      width: 100%;
      margin-top:4rem;
  }
  
  .back-icon{
      width: 0.7rem;
  }

  .star-icon{
      width: 1rem;
      margin-left: 5px;
  }

  .back-text{
      margin-left:1rem;
      font-size: 20px;
  }

  .back{
      display: inline-flex;
      align-items: center;
      border: none;
      background-color: transparent;
      margin-left: 5vw;

  }

.description-container{
      display:flex;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
      /* margin-top:100px; */
  }

  .book-now{
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color:rgb(184, 133, 76);
    margin-left: 1vw;
    margin-top:120px;
    height: 50px;
    width: 25vw;
    /* margin-right: 5vw; */

  }

  .book-now:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    color:rgb(0, 0, 0);
    background: rgb(217, 175, 130);
    transition:250ms;
}

.carousel-container{
    display: flex;
    flex-direction:row;
    /* align-items: center;
    justify-content: center; */
    margin-bottom: 30px;
    height: 600px;
    padding-bottom: 0;
}

.carousel{
    display: flex;
    flex-direction: column;
   /* height: 60vh;
   width: 55vw; */
   height: 500px; 
   width: 40vw;
   align-items: center;
   align-self: center;
   justify-content: center;
   /* align-self: center; */

   z-index: 0;
   /* margin-bottom: 0; */
   margin-top:4rem;

}

.carousel-images{
    display: flex;
    /* margin-right:'15vw'; */
    /* height:100%; */
    /* max-width:100%; */
    /* max-height:100%; */
    height: 500px;
    object-fit: cover; 
    /* object-fit: contain;  */

    align-self: center;
    padding-bottom: 0;
    margin-left:15px;

}

.carousel-and-details{
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.right-details{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 6rem;

}

.dollar-alignment{
    display: inline-flex;
    height: 40vh;

}

.dollars{
    margin-left: 10vw;
}

.inline-icons{
    display: flex;
    flex-direction: column;
}

.inline-first{
    display: inline-flex;

    margin-top: 8vh;
    width:100%;
    align-items: center;
    justify-content: center;
}

.inline-second{
    display: inline-flex;
    /* margin-left: vw; */
    margin-top: 2vh;
    width:100%;
    /* align-items: center; */
    /* justify-content: center; */
}

.detail-1{
    margin-left: -0.5vw;
}

.detail-2{
    margin-left: 9vw;
}

.detail-3{
    margin-left: 9.2vw;
}

.detail-4{
    margin-left: 11.5vw;
}



.icon-detail{
    margin-left: 10vw;

}

.description{
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-left: 33vw;
    margin-top: 8vh;

}

.description-p{
    width:65vw;
}

.contact{
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-left: 33vw;
    margin-top: 8vh;

}

.restaurant-scene{
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-left: 33vw;
    margin-top: 8vh;
}

.scene-container{
    margin-left: 17vw;
    margin-top:8vh;
}

.location{
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-left: 33vw;
    margin-top: 8vh;

}

.map-css{
    margin-left: 7vw;
    margin-top:8vh;
}

.reviews-container{
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-left: 33vw;
    margin-top: 8vh;

}

.reviews-1{
    display: inline-flex;
}

.review-btn{
    margin-left: 2vw;
}

.review-card{
    margin-top:8vh;
}

.review-top{
    display: inline-flex;
}

.scene-booking{
    margin-left: 10vw;
    margin-top:8vh;
}