.is-loading{
    margin-top: 3rem;
    margin-left: 3rem;
}


.main-align{
    /* display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; */
}

.menu-image{
     margin-right:'15vw';
    /* max-height:100%; */
    width:100%;
    height:100%;
    object-fit: cover;
    padding: 10px;
    /* border: 2px solid #000000; */
    border-radius: 15px;
}

.menu-container{
    display: flex;
    height:25vh;
    width: 30vh;
    margin-right: 5vw;
    margin-left: -20vw;
    align-self: flex-start;
}

.name-stars{
    display: inline-flex;
    width:100%;
}

.stars{
    display: inline-flex;
    margin-left: auto;
}

.rating{
    margin-top: 10px;
    margin-right: 1rem;
}

.small-star{
    width: 1.5rem;
    margin-right: 10px;
    align-self:flex-start;
    margin-top: 0.5rem;
}

.vertical-bar{
    border-left: 2px solid rgb(175, 177, 175);
    height: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.descrieri{
    display: inline-flex;
    margin-top: 5vh;
    align-items:center;
    color: rgb(175, 177, 175);

}

.small-icon{
    width: 1.5rem;
    margin-right: 10px;

}

.search-container{
    display: flex;
    width: 80vw;
    /* height: 25vh; */
    margin-left:8vw;
    margin-top:10vh ;
    margin-bottom: 5vh;
}

.search-img:hover{
    background-color: rgb(175, 177, 175);
}

.search-img{
    width:2rem;
    align-self: center;
    margin-left: 1rem;
}

.search-btn {
    border-radius: 4px;
    background-color: rgb(184, 133, 76);
    border: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 2rem;

    box-shadow: 0 5px 20px -10px rgba(0, 0, 0,.7);
  }
  
  .search-btn{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .search-btn:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  .search-btn:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  .search-btn:hover:after {
    opacity: 1;
    right: 10px;
  }

  #search-field{
    width: 83vw;
  }

  .filters-container{
      display: inline-flex;
      width: 80vw;
      margin-left:8vw;
      margin-bottom: 5vh;
      justify-content: space-between;
  }

  .filters{
      /* display: flex; */
      width: 15vw;
      /* margin-left: 3vw !important; */
  }

.content-del-btn{
    margin:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(184, 133, 76);

}

.del-filters-btn{
    color: rgb(55, 40, 22);
    border-color: rgb(184, 133, 76) !important;
    height: 56px;
    width:12em;
}

.del-filters-btn:hover{
    background-color: rgba(245, 245, 245, 0.6) !important;
}

  /* -----------------------------Restaurant Details---------------------------- */
  .top-part{
      display: inline-flex;
      width: 100%;
      margin-top:4rem;
  }
  
  .back-icon{
      width: 0.7rem;
  }

  .star-icon{
      width: 1rem;
      margin-left: 5px;
  }

  .back-text{
      margin-left:1rem;
      font-size: 20px;
  }

  .back{
      display: inline-flex;
      align-items: center;
      border: none;
      background-color: transparent;
      margin-left: 5vw;

  }

.description-container{
      display:flex;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
      /* margin-top:100px; */
  }

  .book-now{
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color:rgb(184, 133, 76);
    margin-left: 1vw;
    margin-top:100px;
    height: 50px;
    width: 25vw;
    /* margin-right: 5vw; */

  }

  .book-now:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    color:rgb(0, 0, 0);
    background: rgb(217, 175, 130);
    transition:250ms;
}

.carousel-container{
    display: flex;
    flex-direction:row;
    /* align-items: center;
    justify-content: center; */
    margin-bottom: 30px;
    height: 600px;
    padding-bottom: 0;
}

.carousel{
    display: flex;
    flex-direction: column;
   /* height: 60vh;
   width: 55vw; */
   height: 500px; 
   width: 40vw;
   align-items: center;
   align-self: center;
   justify-content: center;
   /* align-self: center; */

   z-index: 0;
   /* margin-bottom: 0; */
   margin-top:4rem;

}

.carousel-images{
    display: flex;
    /* margin-right:'15vw'; */
    /* height:100%; */
    /* max-width:100%; */
    /* max-height:100%; */
    height: 500px;
    object-fit: cover; 
    /* object-fit: contain;  */

    align-self: center;
    padding-bottom: 0;
    margin-left:15px;

}

.carousel-and-details{
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.right-details{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 6rem;

}

.dollar-alignment{
    display: inline-flex;
    height: 325px;

}

.dollars{
    margin-left: 10vw;
}

.inline-icons{
    margin-top:8vh;
    display: flex;
    flex-direction: row;
}

.details-row{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .inline-first{
    display: inline-flex;

    margin-top: 8vh;
    width:100%;
    align-items: center;
    justify-content: center;
}

.inline-second{
    display: inline-flex;
    margin-top: 2vh;
    width:100%;

} */

.detail-1{
    margin-left: -0.5vw;
}

.detail-2{
    margin-left: 9vw;
}

.detail-3{
    margin-left: 9.2vw;
}

.detail-4{
    margin-left: 11.5vw;
}



.icon-detail{
    margin-left: 10vw;

}

.icon-detail-second{
    margin-left: 10vw;
}

.description{
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-left: 33vw;
    margin-top: 8vh;

}

.description-p{
    width:65vw;
}

.contact{
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-left: 33vw;
    margin-top: 8vh;

}

.restaurant-scene{
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-left: 33vw;
    margin-top: 8vh;
}

.scene-container{
    margin-left: 17vw;
    margin-top:8vh;
}

.location{
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-left: 33vw;
    margin-top: 8vh;
    margin-bottom: 8vh;

}

.map-css{
    /* margin-left: 7vw; */
    margin-top:8vh;
}

.menu-display{
    display:flex;
    flex-direction: column;
    margin-top: 8vh;
    margin-bottom: 8vh;
    height: 100vh;
    width:100%;
    margin-left: 33vw;
}

.menu-page-control{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:30vw;
    margin-left: 15vw;
  }
  
  .menu-pages{
    width: 40vw!important;
    /* margin-left: 7vw; */
  
  }

  .react-pdf__Page__canvas {
    margin: 0 auto;
    /* width: 80% !important; */
    /* height: 80vh !important; */
    width: 60vw!important;
  }



.reviews-container{
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-left: 33vw;
    margin-top: 8vh;

}

.reviews-1{
    display: inline-flex;
}

.review-btn{
    margin-left: 2vw;
}

.review-card{
    margin-top:8vh;
}

.review-top{
    display: inline-flex;
}

.scene-booking{
    margin-left: 10vw;
    margin-top:8vh;
}

.inline-icons-1{
    display: flex;
    flex-direction: row;
}

.inline-icons-2{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 900px) {
    .restaurant-scene{
        margin-left: 10vw;
    }

    .scene-label{
        margin-left: 12vw;
    }
}


@media screen and (max-width: 976px) {
    .filters-container{
        display: flex;
        flex-direction: column;
        width: 80vw;
    }

    .filters{
        width:80vw;
        height: 10vh;
    }

    .del-filters-btn{
        width: 80vw; 
        margin-top: 4vh!important;

    }

    /* .menu-image{
        margin-right:'15vw';
        width:100%;
        height:100%;
        object-fit: cover;
        padding: 10px;
        border-radius: 15px;
    } */

    /* .menu-container{
        display: flex;
        height:24vh;
        width: 25vh;
        margin-left: 2px;
        align-self: center;
    } */
}

@media screen and (max-width: 500px) {
    .menu-container{
        display: flex;
        height:20vh;
        width: 20vh;
        /* margin-right: 5vw; */
        margin-left: 1px;
        align-self: center;
    }

    .card-container{
        width:90vw!important;
        margin-left:1rem!important;
        margin-top: 2vh!important;
    }

}

@media screen and (max-width: 767px) {

    .inline-icons{
        flex-direction: column;
    }

    .inline-icons-2{
        margin-top:2rem;
    }

    .icon-detail-second{
        margin-left: 0;
    }

    .detail-3{
        margin-left: 0;
    }

    .carousel-and-details{
        flex-direction: column;
        width:90%;
    }

    .carousel-container{
        width:85vw;
        height:50vh;
    }

    .carousel{
        width:85vw;
        height:50vh;

    }

    .name-details{
        width: 50vw;
    }

    /* .dollar-alignment{
        display: flex;
        flex-direction: column;
    } */
    .dollars{
        margin-left:-2rem;
        margin-top:0rem;
    }

    .right-details{
        margin-top:2rem;
        margin-left:1rem;
        flex-direction: row;
    }

    .react-pdf__Page__canvas {
        margin: 0 auto;
        /* width: 80% !important; */
        /* height: 80vh !important; */
        width: 85vw!important;
        height:60vh!important;
      }
      
    .restaurant-scene{
        display: none;
    }

    .description{
        margin-left:5rem;
    }

    .contact{
        margin-left:5rem;
    }

    .location{
        margin-left:5rem;
    }

    .menu-display{
        margin-left:5rem;
    }

    .map-mobile{
        width:70vw!important;
    }

    .menu-page-control{
        width:80vw;
        margin-left: 1rem;
    }

    .right-details{
        width:90%;
        height:5vh;
    }

    .book-now{
        margin-top: -10px;
        margin-left: 9vw;
    }
}