.NavbarItems{
    /* background: linear-gradient(90deg, rgb(188, 72, 46) 0%, rgb(173, 67, 43) 100%); */
    background: linear-gradient(90deg, rgb(55, 40, 22) 0%, rgb(0, 0, 0) 100%); ;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    z-index:4;
    top: 0;
    left: 0;
    width: 100%;
}


.signup_nav {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color:#B8854C;
    /* width: 13vw; */

}

.signup_nav:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    color:rgb(0, 0, 0);
    background: #fff;
    transition:250ms;
}

.signup_nav_responsive{
    display:none;

}


.navbar-logo{
    color: #fff;
    justify-content: start;
    margin-left: 20px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.fa-utensils{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;

}

.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;

}

.nav-links:hover{
    background-color: rgb(184, 133, 76);
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;

}

.menu-icon {
    display: none;
}


@media screen and (max-width: 976px) {
    /* .NavbarItems{
        position:relative;
    } */

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;

    }

    .nav-menu.active {
        /* background:rgba(0, 0, 0, 0.95); */
        background: rgb(17, 13, 7);
        left:0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        justify-content: start;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: rgb(184, 133, 76, 0.5);
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left:0;
        transform: translate(25%, 50%);
        padding: 7px;
        margin-left: 0px;
    }

    .menu-icon {
        display: block;
        position:absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times{
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        border-radius: 4px;
        width: 80%;
        background: rgb(184, 133, 76, 0.9);
        text-decoration: none;
        color: white;
        font-size: 1.2rem;

    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #000000;
        transition: 250ms;
    }

    .signup_nav{
        display:none;
    }
    /* .signup_nav_responsive{
        display:block;
        padding: 8px 20px;
        border-radius: 4px;
        outline: none;
        border: none;
        cursor: pointer;
        color: #fff;
        background-color:#B8854C;
    }

    .signup_nav_responsive:hover {
        padding: 8px 20px;
        transition: all 0.3s ease-out;
        color:rgb(0, 0, 0);
        background: #fff;
        transition:250ms;
    } */

    .signup_nav_responsive {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        border-radius: 4px;
        width: 80%;
        background: rgb(184, 133, 76, 0.9);
        text-decoration: none;
        color: white;
        font-size: 1.2rem;

    }

    .signup_nav_responsive:hover {
        background: #fff;
        color: #000000;
        transition: 250ms;
    }


    /* Button{
        display:none;
    } */
}