.dash-container{
    /* display:flex;
    justify-content: center; */
}

.paper-container{
    display: flex;
    margin-left:4vw;
}

.restaurant-name{
    font-size: 35px;
}

.paper-styles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20rem!important;
    height: 75vh !important;

}
.dash-content-client{
    overflow: auto;
    max-height: 75vh;
    scrollbar-width: none !important;
    margin-top: 60px;
    margin-top: 5vh;
    margin-left: 5vw;

}

.edit-btn{
    display:flex;
    align-self: flex-end;
}
.client-details-db{
    height: 20vh;
    margin-top:8vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar{
    display:flex;
    justify-content: center;
    align-items: center;
}
.white-space{
    height:20vh;
    width:5vw;
}


.bottom-buttons{
    display:flex;
    align-items: column;
    justify-content: space-between;
    width:14rem;
    margin-top: 5vh;
}

.name-surname{
    display:flex;
    align-items: column;
    /* justify-content: space-between; */
    /* width: 10vw; */
    margin-bottom: 2rem;
    font-size: large;
    font-weight: bold;
    margin-top: 1rem;
}

.phone-div{

    margin-bottom: 0.5rem;
}

.email-div{
    margin-bottom: 2rem;
}

.update-form{
    height: 20vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10vh;
    margin-bottom: 2.1vh;
}

.pic-input{
    width: 5rem;
}

.save-details-btn:hover{
    background-color: rgba(239, 239, 239, 0.5) !important;
}

.logout-btn:hover{
 background-color: hsla(0, 0%, 94%, 0.502) !important;
}

.mybookings-container{
    height: 75vh;
}


#my-bookings::-webkit-scrollbar {
    width: 20px!important;
    display:block!important;
  }

  #my-bookings::-webkit-scrollbar-track {
    background-color: transparent!important;
  }

  #my-bookings::-webkit-scrollbar-thumb {
    background-color: #d6dee1!important;
  }

  #my-bookings::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
  }

  #my-bookings::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }


  .profile-booking-container{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
  }
  .icon-detail-booking{
    display:flex;
    flex-direction: row;
    margin-top:1vh;
  }

  .profile-left-details{
    width:30%;
  }

  .restaurant-title{
    font-size: 30px;
  }

  .restaurant-location{
    color:#939393;
    margin-top:1vh;
    /* font-size: 20px; */
  }

  .profile-right-details{
    width:70%;
    margin-top: 6vh;
  }

  .date-time-details{
    margin-top: 5vh;
  }

.id-booking{
    width: 100px;
    color:#939393;
}

.id-booking-val{
    margin-left: 10px;
}

.bookmarkClock{
    color:#939393;
}

.bookmarkClock-val{
    margin-left: 10px;
}

.table{
    color:#939393;
}

.table-val{
    margin-left: 10px;
}

.people{
    color:#939393;
}

.people-val{
    margin-left: 10px;
}

@media screen and (max-width: 1300px) {
    .card-container-booking{
        width: 50vw!important;
        height: 40vh!important;
    }

    .profile-right-details{
        margin-top:60px;
        margin-left: 20px;
    }

}


@media screen and (max-width: 1034px) {
    .card-container-booking{
        width: 85vw!important;
        height: 40vh!important;
        margin-left: 0.5rem !important;
    }



}

@media screen and (max-width: 975px) {
.paper-styles{
    width:85vw!important;
}
}

@media screen and (max-width: 600px) {
.profile-booking-container{
    flex-direction: column;
    margin-left: 5px;
}

.profile-left-details{

}

.card-container-booking{
    height: 60vh!important;
    width: 85vw!important;
}

.profile-right-details{
    margin-top:60px;
    margin-left: 5px;
    width: 75vw;
}

.restaurant-location{
    width:200px;
}

.restaurant-title{
    width:200px;
}

.name-loc{
   /* / width:40vw; */
}

.date-time-details{
    /* margin-left: 70px; */
    margin-top: 10px;
}




}

@media screen and (max-width: 420px) {
    .card-container-booking{
        width: 83vw!important;
    }
}


/* .profile-booking-container{
    flex-direction: row;
} */