.contact-container{
    display:flex;
    flex-direction: row;
    height:100%;
}

.img-contact{
    height:95vh;
    width:45vw;
}

.contact-form-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    align-self: center;
    width:100%;
}

.first-message{
    font-size: 30px;
    margin-bottom: 7vh;
}

.find-us-email{
    display: flex;
    flex-direction: row;
    margin-bottom:1vh;
}

.find-us-social{
    display: flex;
    flex-direction: row;
    margin-bottom:4vh;
    margin-left: -1.2rem;
    margin-bottom: 7vh;
}
.find-us{
    font-size:20px;
    /* margin-left: 1rem; */
}

.contact-link-style{
    color: rgb(184, 133, 76);
    margin-left: 1rem;
}
.socials{
    display:flex;
    flex-direction: column;
    /* margin-left:1rem; */
}

.text-field-contact{
    margin-bottom: 2vh!important;
    width:32vw!important;

}

.message-field-contact{
    /* margin-bottom: 2vh!important; */
    width:32vw!important;

}

.submit-btn-contact{
    color: rgb(184, 133, 76)!important;
    border-color: rgb(184, 133, 76)!important;
    width: 32vw!important;
    margin-top:7vh!important;
    margin-bottom: 7vh!important;
}

@media screen and (max-width: 1034px) {
    .img-contact{
        display: none;
    }

    .contact-form-container{
        margin-top:7vh;
        margin-left:1rem;
    }

    .first-message{
        /* margin-top:7vh;
        margin-left:1rem; */
        margin-right: 1rem;
    }

    .text-field-contact{
        width:85vw!important;
    
    }
    .message-field-contact{  
        width:85vw!important;
    }

    .find-us-email{
        flex-direction: column;
        margin-left: -95px;
    }

    .find-us-social{
        flex-direction: column;
    }

    .submit-btn-contact{
        width:85vw!important;
    }
}